<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="styles.css" />
    <title>Portfolio Ingrid</title>
</head>

<body>
    <div class="navbar">
        <a class="name" href="/">Ingrid Zippe</a>
        <i id="bars" class="fa-sharp fa-solid fa-bars" onclick="openMenu()"></i>
    </div>
    <div id="menu-overlay"></div>
    <div id="menu-slide" class="menu-slide">
        <a href="javascript:void(0)" class="menu-x" onclick="closeMenu()">&times;</a>
        <a href="/work">work</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
    </div>
</body>
</html>
<script>
    function openMenu(){
        const divMenuSlide = document.getElementById("menu-slide");
        divMenuSlide.style.width = "300px";
        document.getElementById("menu-overlay").style.with ="100%";
    }

    function closeMenu(){
        const divMenuSlide = document.getElementById("menu-slide");
        divMenuSlide.style.width = "0px";
        document.getElementById("menu-overlay").style.with ="100%";
    }
</script>