@font-face {
    font-family: fontLight;
    src:url(/public/fonts/Futura\ Thin.ttf)
}


@font-face {
    font-family: brandonBold;
    src: url(fonts/BrandonGrotesque-Bold.otf);
}

@font-face {
    font-family: brandonLigt;
    src: url(fonts/Brandon_light.otf);
}


body{
    background-color: #ff0;
    font-family: fontLight;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 2px 2px --2px rgba(0, 0, 0, 2)
}

.name{
    text-decoration: none;
    font-family: brandonBold;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 30px;
}